@model IEnumerable<DatabaseAccess.tblCustomerInvoiceDetail>

@{
    ViewBag.Title = "Sale Details";
}


<table class="table">
    <tr>
        <th>
            Invoice No
        </th>
        <th>
            Product
        </th>
        <th>
            Qty
        </th>
        <th>
           Unit Price
        </th>

        <th>
            Sale Cost
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblCustomerInvoice.InvoiceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblStock.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleUnitPrice)
        </td>
        <td>
            <label>@(item.SaleQuantity * item.SaleUnitPrice)</label>
        </td>

      
    </tr>
}

</table>
