@model DatabaseAccess.tblAccountSetting

@{
    ViewBag.Title = "Create New Accounting FLow";
}
<script src="~/Scripts/jquery-3.7.0.js"></script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @ViewBag.Message
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.AccountHeadID, "Select Account Head", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AccountHeadID", null, "Head Account", htmlAttributes: new { @class = "form-control",@id = "AccountHeadID" })
            @Html.ValidationMessageFor(model => model.AccountHeadID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AccountControlID, "Select Account Control", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AccountControlID", null, "Control Account", htmlAttributes: new { @class = "form-control", @id= "AccountControlID" })
            @Html.ValidationMessageFor(model => model.AccountControlID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AccountSubControlID, "Select Account SubControl", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AccountSubControlID", null, "SubControl Account", htmlAttributes: new { @class = "form-control", @id = "AccountSubControlID" })
            @Html.ValidationMessageFor(model => model.AccountSubControlID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AccountActivityID, "Select Activity", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AccountActivityID", null, "Activity", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AccountActivityID, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#AccountHeadID').change(function () {

            $('#AccountControlID').html('');
            $.ajax({
                url: '@Url.Action("GetAccountControls", "tblAccountSettings")',
                type: 'GET',
                data: { id: $(this).val() },
                dataType: 'Json',
                success: function (response) {
                    $('#AccountControlID').append("<option value='0'>Control Account</option>");
                    for (var i = 0; i < response.data.length; i++) {
                        $('#AccountControlID').append("<option value=" + response.data[i].AccountControlID + ">" + response.data[i].AccountControlName + "</option>");
                    }
                },

                error: function () {
                }


             });
        });

        $('#AccountControlID').change(function () {

            $('#AccountSubControlID').html('');
            $.ajax({
                url: '@Url.Action("GetSubControls", "tblAccountSettings")',
                type: 'GET',
                data: { id: $(this).val() },
                dataType: 'Json',
                success: function (response) {
                    $('#AccountSubControlID').append("<option value='0'>SubControl Account</option>");
                    for (var i = 0; i < response.data.length; i++) {
                        $('#AccountSubControlID').append("<option value=" + response.data[i].AccountSubControlID + ">" + response.data[i].AccountSubControlName + "</option>");
                    }
                },

                error: function () {
                }


            });
        });
    });

</script>