@model IEnumerable<DatabaseAccess.Models.PurchasePaymentModel>

@{
    ViewBag.Title = "Purchase Paid Payment";
}

<script src="~/Scripts/jquery-3.7.0.js"></script>
<div class="card">
    <div class="card card-flat">
        <div class="card-header">
            <h4>Enter Payment's Details></h4>
            <h5 class="text-danger">@ViewBag.Message</h5>
        </div>
        <div class="card-body">

            @using (Html.BeginForm("PaidAmount", "PurchasePayment", FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()
                <input type="text" value="@ViewBag.InvoiceID" id="id" name="id" style="display:none;" />

                <div class="row">
                    <div class="col-md-4">
                        <label>
                            Previous Remaining Amount
                        </label>
                        <input type="text" id="previousremainingamount" name="previousremainingamount" value="@ViewBag.PreviousRemainingAmount" readonly="readonly" class="form-control" required />
                    </div>
                    <div class="col-md-4">
                        <label>
                            Paymen Amount
                        </label>
                        <input type="text" id="paymentamount" name="paymentamount" class="form-control" required />
                    </div>
                    <div class="col-md-4">
                        <label>
                            Remaining Amount
                        </label>
                        <input type="text" id="remainingamount" name="remainingamount" class="form-control" />
                    </div>
                </div>

                <br />
                <hr />
                <input type="submit" value="Submit Payment" class="btn btn-success" style="float:right" />
            }
            </div>
    </div>
</div>
<div class="card">
    <div class="card card-default">
        <div class="card-header">
            <h4 style="float: left;"> Purchase  Invoice Payment Details</h4>
            <input type="text" id="searchbranch" name="searchbranch" class="form-control col-md-3" style="float:right;" placeholder="search here" />

        </div>
        <div class="card-body">
            
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th>
                                    Supplier
                                </th>
                                <th>
                                    Contact No
                                </th>
                                <th>
                                    Invoice No
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Total Amount
                                </th>
                                <th>
                                    Paid
                                </th>
                                <th>
                                    Remaining Balance
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="listbranches">
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupplierName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupplierContactNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InvoiceNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InvoiceDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PaymentAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RemainingBalance)
                                    </td>
                                    @*<td class="btn-group">
                                @{
                                    if (item.TotalAmount - 1 > item.PaymentAmount)
                                    {
                                        @Html.ActionLink("Pay Amount", "PaidAmount", new { id = item.SupplierInvoiceID }, new { @class = "btn  btn-primary fa " })
                                    }

                                    if (item.PaymentAmount > 0)
                                    {
                                        @Html.ActionLink("Paid History", "PaidHistory", new { id = item.SupplierInvoiceID }, new { @class = "btn  btn-primary fa " })

                                    }

                                }
                            </td>*@


                                </tr>

                            }
                        </tbody>

                    </table>
                </div>
          
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#searchbranch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#listbranches tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#paymentamount").keyup(function () {
            var previousremainingamount = $("#previousremainingamount").val();
            var payment = this.value;
            $("#remainingamount").val((previousremainingamount - payment));

        })

    });



</script>



