@model DatabaseAccess.tblCompany

@{
    ViewBag.Title = "Add new Company";
}



@using (Html.BeginForm("Create","tblCompanies",FormMethod.Post,new {enctype="multipart/form-data"})) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Company</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LogoFile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <span class="btn btn-default btn-file">
                <input type="file" name="LogoFile" id="LogoFile" class="form-control" onchange="previewImage(event)" />
                @Html.ValidationMessageFor(model => model.LogoFile, "", new { @class = "text-danger" })
            </span>
            <br />
            <!-- Image preview container -->
            <img id="preview" src="#" alt="Image Preview" class="img-fluid mt-3" style="max-width: 150px; display: none;" />
        </div>
    </div>

    <script>
        // JavaScript function to handle image preview
        function previewImage(event) {
            const input = event.target;
            const preview = document.getElementById('preview');
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result; // Set the preview image source
                    preview.style.display = 'block'; // Make the image visible
                };
                reader.readAsDataURL(input.files[0]); // Read the image as a data URL
            } else {
                preview.src = '#'; // Reset if no file selected
                preview.style.display = 'none'; // Hide the image
            }
        }
    </script>

    @*<div class="form-group">
            @Html.LabelFor(model => model.Logo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Logo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
